<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <queries>
        <package android:name="com.github.frimtec.android.securesmsproxy" />
        <package android:name="org.fdroid.fdroid" />
    </queries>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:maxSdkVersion="27" android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".PAssistApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:localeConfig="@xml/locales_config">
        <activity
            android:name=".ui.support.SendLogActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="com.github.frimtec.android.pikettassist.SEND_LOG" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>
        <activity android:name=".ui.alerts.AlertDetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.pikettassist.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.pikettassist.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.support.LogcatActivity"
            android:label="@string/title_activity_logcat"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.pikettassist.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.testalarm.TestAlarmDetailActivity"
            android:label="@string/title_activity_test_alarm_details"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.pikettassist.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.frimtec.android.pikettassist.ui.MainActivity" />
        </activity>
        <activity android:name=".ui.alerts.AlertActivity" />
        <activity android:name=".ui.signal.LowSignalAlarmActivity" />
        <activity android:name=".ui.testalarm.MissingTestAlarmAlarmActivity" />

        <receiver
            android:name=".service.AutoStart"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.SmsListener"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.github.frimtec.android.securesmsproxy.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.NotificationActionListener"
            android:exported="false">
            <intent-filter>
                <action android:name="com.github.frimtec.android.pikettassist.*" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.system.AlarmService$Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.github.frimtec.android.pikettassist.ALARM.*" />
            </intent-filter>
        </receiver>
    </application>

</manifest>